.AuthMenu__content{
    width: 183px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 21px 70px 21px 0px;
}

@media screen and (max-width: 769px) {
    .AuthMenu__content {
        margin: 21px 30px 21px 0px;
    }
  }

@media screen and (max-width: 321px) {
    .AuthMenu__content {
        width: 132px;
        margin: 24px 14px 24px 0px;
    }
  }