.Portfolio__content{
    max-width: 1140px;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 0;
}

@media screen and (max-width: 1180px) {
    .Portfolio__content {
        margin: auto 50px;
    }
}

@media screen and (max-width: 400px) {
    .Portfolio__content {
        margin: auto 14px;
    }
}