.Navigation__link{
    line-height: 18px;
    font-size: 14px;
    font-weight: 500;
    color: white;
    text-align: center;
    text-decoration: none;
}

.Navigation__link:hover{
    text-decoration: underline;
}