.Navigation__link-to-savedfilms{
    line-height: 18px;
    font-size: 14px;
    font-weight: 500;
    color: white;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    margin: 0px 50px 0px 20px;
}

.Navigation__link-to-savedfilms:hover{
    text-decoration: underline;
}