.SearchForm__container{
    height: 72px;
    display: flex;
    align-items: center;
    flex-grow: 1;
}

@media screen and (max-width: 440px) {
    .SearchForm__container {
        flex-grow: unset;
    }
}