.SearchForm__content{
    max-width: 1140px;
    height: 142px;
    margin: 70px auto 10px;
    border-bottom: 1px #424242 solid;
}

@media screen and (max-width: 1170px) {
    .SearchForm__content {
        margin: 70px 20px 10px;
    }
}

@media screen and (max-width: 880px) {
    .SearchForm__content {
        margin: 80px 30px 10px;
    }
}

@media screen and (max-width: 440px) {
    .SearchForm__content {
        height: 182px;
        margin: 80px 10px 10px;
    }
}