.DeleteButton{
    width: 21px;
    height: 21px;
    border: none;
    background-color: #313131;
    border-radius: 30px;
    background-image: url(../../../images/white_cross_sign.svg);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 14px;
    right: 14px;
}

.DeleteButton:hover{
    cursor: pointer;
    opacity: 0.8;
}

@media screen and (max-width: 400px) {
    .DeleteButton {
        top: 10px;
        right: 10px;
    }
}