.AboutProject__description-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: white;
    margin: 0;
}

@media screen and (max-width: 769px) {
    .AboutProject__description-text {
        font-size: 12px;
        line-height: 18px;
    }
}

@media screen and (max-width: 400px) {
    .AboutProject__description-text {
        font-size: 11px;
        line-height: 16px;
    }
}