.Footer__date-and-links-container{
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1180px) {
    .Footer__date-and-links-container{
        margin: 0px 20px 0px;
    }
}

@media screen and (max-width: 500px) {
    .Footer__date-and-links-container{
        flex-direction: column-reverse;
        align-items: center;
        margin: 0px;
    }
}