.Login__signin-link-span{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #8B8B8B;
}

@media screen and (max-width: 440px) {
    .Login__signin-link-span {
        font-size: 12px;
        line-height: 15px;
    }
}