.AboutMe__content{
    max-width: 1140px;
    margin: 110px auto 100px;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1180px) {
    .AboutMe__content {
        margin: 90px 50px;
    }
}

@media screen and (max-width: 400px) {
    .AboutMe__content {
        margin: 70px 14px;
    }
}